dialog {
  position: fixed;
  top: 50%;
  margin-top: -25px;
  z-index: 10;
  /* background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%)); */
  background:#540FA3; 
  border: none !important;
  border-radius: 1rem;
  text-align:center;
  padding: 2.25rem;

  transition:visibility .5s linear .5s,opacity .5s linear;
  
}

dialog h1 {
 margin-top: 1.25 rem; 
 margin-bottom: 1.25rem;
 color: #ffffff;
 font-size: 1.5rem;
}

dialog p {

 color: #ffffff

}

dialog a {
 color: #ffffff
}

